<div class="wrapper">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-integrated-chat *ngIf="userConnect"></app-integrated-chat>
  <app-audio *ngIf="!isWindowedChat()"></app-audio>
</div>
