<div (keydown.enter)="createChannel()">
    <h2 mat-dialog-title>Créer un canal</h2>
    <mat-dialog-content class="mat-typography">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="name"/>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Annuler</button>
      <button mat-button (click)='createChannel()' [mat-dialog-close]="true" cdkFocusInitial>Créer</button>
    </mat-dialog-actions>
</div>

