@import "variables"; //style

.wrapper {
  padding-bottom: 10px;
  font-family: $font;
}

.wrapper .page-header {
  display: flex;
  justify-content: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header .avatar {
  border-radius: 50%;
}

.profile-header .avatar:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.profile-header p {
  margin-top: 10px;
  color: $purple;
}

.profile-header h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-body {
  margin: 20px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.profile-body .tab-group {
  background-color: $purple;
  border-radius: 10px;
  width: 70%;
}

.profile-body .tab-group * {
  color: white !important;
}

.profile-body .tab-group .mat-tab-label {
  font-size: 1em;
  font-family: $font !important;
  color: white !important;
}

.profile-body .edit-profile-button button {
  background-color: $pink;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 50px;
}

.loader {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $purple !important;
}
