<div class="wrapper" id='parent' [ngStyle]="{'width':width}" [ngStyle]="{'height':height}">
    <canvas id="canvas" #baseCanvas></canvas>
    <canvas id="previewLayer" #previewCanvas></canvas>
    <canvas id="grid" #grid></canvas>
</div>
