.wrapper {
  position: relative;
}

canvas {
  position: absolute;
  cursor: none;
  outline: 2px solid #000000;
}

#canvas {
  z-index: 0;
  background: white;
}

#previewGrid {
  background: transparent;
}
