<div class="wrapper">
  <app-particles *ngIf="playerIsWinner || isGlobalRecord || isPersonnalRecord" class='particles'></app-particles>

  <div class="title">
    <app-title text="Fin de la partie!"></app-title>
  </div>

  <div class="body" *ngIf="currentGame.gameMode == 'Classique'">
    <div class="col" *ngFor="let team of teams; index as i">
      <div class="team" [ngClass]="{ pink: i == 0, blue: i == 1 }">
        <h3>
          <mat-icon *ngIf="team.isWinner" matTooltip="Gagnant" class="icon" svgIcon="winner"></mat-icon>
          {{ team.teamUID }}</h3>
        <div class="member" *ngFor="let member of team.teamMembers">
          <app-avatar class="avatar" [size]="30" [user]="member"></app-avatar>
          <p>{{ member.pseudo }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="body solo" *ngIf="currentGame.gameMode == 'Sprint solo'"> -->
    <div class="body solo">
    <ul style="list-style-type:none;">
      <h1>Bien joué!</h1>
      <li>
        <p>
          <mat-icon class="logo" [inline]="true">star</mat-icon>
          {{soloScore || teamScore}} mots devinés
        </p>
      </li>
      <li>
        <p>
          <mat-icon class="logo" [inline]="true">hourglass_full</mat-icon>
          {{formatElapsedTime(elapsedTime)}} temps joué
        </p>
      </li>
      <ng-container *ngIf="isPersonnalRecord">
        <li>
          <p>
            <mat-icon class="logo" [inline]="true">military_tech</mat-icon>
            meilleur score personnel!
          </p>
        </li>
      </ng-container>
      <ng-container *ngIf="isGlobalRecord">
        <li>
          <p>
            <mat-icon class="logo" [inline]="true">military_tech</mat-icon>
            meilleur score global!
          </p>
        </li>
      </ng-container>
    </ul>
</div>
