@import "variables";

.wrapper .title {
  padding: 20px;
}

.body {
  display: grid;
  grid-template-columns: 50% 50%;
}

.body .col {
  margin: 20px;
}

.body .col .team {
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.blue {
  background-color: $blue;
}

.pink {
  background-color: $pink;
}

.body .col-right .team {
  background-color: $blue;
}

.team .member {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.team .member .avatar {
  padding-right: 10px;
}

.solo {
  padding: 20px;
  border-radius: 4px;
  margin: 20px;
  background-color: $purple;
}

.logo {
  font-size: 2em;
}

.mat-list-icon {
  color: white;
}

.list-item p {
  cursor: pointer;
  font-family: "PressStart2P";
}

.particles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}