@import "variables"; //style

.wrapper {
  margin: 20px !important;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
}

.body {
  margin-top: 20px;
  display: flex;
}


.col-left {
  color: black;
  width: fit-content;
}

.col-right {
  padding-left: 200px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

p b {
  font-size: 1.2em;
}


.quick-draw-buttons {
  width: 100%;
  margin-top: 10px;
  display: flex !important;
  justify-content: space-between !important;
}

.refresh-quickdraw {
  width: fit-content !important;
  background-color: $pink !important;
}

.next-quick-draw {
  width: fit-content !important;
  background-color: $blue !important;
  align-self: flex-end;
}

.create-button {
  margin: 20px;
}

.file-select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-select-button {
  width: 200px !important;
  margin-right: 10px;
}

.editor {
  background-color: white;
}

.refresh {
  width: 200px !important;
  margin-right: 10px;
  border-radius: 4px;
  background-color: $blue !important;
}

.potrace-img-select {
  display: flex;
}

.potrace-img-preview {
  display: flex;
}

.potrace-img {
  border-radius: 4px;
}

.potrace-preview {
  display: inline-block;
  border-radius: 4px;
}

.quick-draw {
  display: flex;
  border: 4px solid $dark-blue;
  flex-direction: column;
}

.quick-draw-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.next-button {
  display: flex;
}

.next-button:hover {
  cursor: pointer;
}

.word {
  text-align: center;
  align-self: center;
}

.hidden {
  display: none;
}

.file-select:hover {
  cursor: pointer;
}

.form-body {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
}

.add-hint {
  width: auto !important;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-field {
  display: flex;
  width: 200px;
}

.delete {
  color: red;
}

.form-field-flex {
  display: flex;
  align-items: center;
}

.canvas {
  background-color: white;
  width: fit-content;
}
