<div class="wrapper">
  <app-title class="title" text="Créer une paire mot-image"></app-title>
  <div class="body">
    <form class="col-left" [formGroup]="currentForm" (ngSubmit)="onSubmit()">
      <div class="form-body">
        <p>
          <b> Options de base </b>
        </p>
        <p>
          <mat-form-field class="form-field">
            <mat-label class="label">Mode de création</mat-label>
            <mat-select formControlName="creationMode">
              <mat-option
                [value]="mode"
                *ngFor="let mode of pairWordDrawingService.creationModes"
              >
                {{ mode }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p *ngIf="drawingMode.enabled">
          <mat-form-field>
            <mat-label>Mode de dessin</mat-label>
            <mat-select formControlName="drawingMode">
              <mat-option
                [value]="mode"
                *ngFor="let mode of pairWordDrawingService.drawingModes"
              >
                {{ mode }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p *ngIf="panoramicMode.enabled">
          <mat-form-field>
            <mat-label>Mode panoramique</mat-label>
            <mat-select formControlName="panoramicMode" required>
              <mat-option
                [value]="mode"
                *ngFor="let mode of pairWordDrawingService.panoramicModes"
              >
                {{ mode }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p *ngIf="centerMode.enabled">
          <mat-form-field>
            <mat-label>Mode centré</mat-label>
            <mat-select formControlName="centerMode" required>
              <mat-option
                [value]="mode"
                *ngFor="let mode of pairWordDrawingService.centerModes"
              >
                {{ mode }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>Mot</mat-label>
            <input matInput type="text" formControlName="word" required />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>Difficulté</mat-label>
            <mat-select formControlName="difficulty" required>
              <mat-option
                [value]="difficulty"
                *ngFor="let difficulty of pairWordDrawingService.difficulties"
              >
                {{ difficulty }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <div formArrayName="hints">
          <div class="flex">
            <p>Indices</p>
            <button mat-raised-button class="add-hint" (click)="addHint()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div *ngFor="let hint of hints.controls; let i = index">
            <div class="form-field-flex">
              <mat-form-field>
                <mat-label>Indice {{ i + 1 }}</mat-label>
                <input matInput type="text" [formControlName]="i" required />
              </mat-form-field>
              <mat-icon class="delete hover" (click)="removeHint(i)"
                >delete</mat-icon
              >
            </div>
          </div>
        </div>
        <div formGroupName="potrace" *ngIf="potrace.enabled">
          <div class="file-select">
            <input
              class="hidden"
              formControlName="fileControl"
              type="file"
              accept=".bmp, .png., .jpg"
              (change)="preview(file.files)"
              #file
            />
          </div>
          <div class="potrace-options">
            <p>
              <b> Options Potrace </b>
            </p>
            <p>
              <mat-form-field>
                <mat-label>Taille du bruit (px)</mat-label>
                <input matInput formControlName="turdSize" type="number" />
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <mat-label>Détection des coins (px)</mat-label>
                <input matInput formControlName="alphaMax" type="number" />
              </mat-form-field>
            </p>
            <p>
              <mat-checkbox formControlName="optCurve">
                <mat-label> Optimization des courbes </mat-label>
              </mat-checkbox>
            </p>
            <p>
              <mat-form-field>
                <mat-label>Tolérance d'optimization des courbes (px)</mat-label>
                <input matInput formControlName="optTolerance" type="number" />
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <mat-label>Seuil de couleur (0..255)</mat-label>
                <input matInput formControlName="threshold" type="number" />
              </mat-form-field>
            </p>
            <p [ngClass]="{ hidden: true }">
              <mat-checkbox formControlName="blackOnWhite"
                >blackOnWhite</mat-checkbox
              >
            </p>
            <p>
              <mat-form-field>
                <mat-label>Couleur du trait</mat-label>
                <input matInput formControlName="color" type="color" />
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <mat-label>Couleur du fond</mat-label>
                <input matInput formControlName="background" type="color" />
              </mat-form-field>
            </p>
          </div>
        </div>
      </div>
      <app-text-button
        class="create-button"
        text="Créer"
        [disabled]="currentForm.invalid"
      ></app-text-button>
    </form>
    <div class="col-right">
      <div *ngIf="isEditor">
        <app-editor
          class="editor"
          (strokes)="strokesFromEditor($event)"
        ></app-editor>
      </div>
      <div class="potrace-wrapper" [ngClass]="{ hidden: !isPotrace }">
        <div class="potrace-img-select">
          <button
            mat-raised-button
            class="file-select-button"
            (click)="selectFile()"
          >
            <mat-icon>get_app</mat-icon>
            Sélectionner une image
          </button>

          <img
            class="potrace-img"
            *ngIf="isPotrace"
            [src]="imgURL"
            width="400"
          />
        </div>
        <div class="potrace-img-preview">
          <button
            class="refresh info"
            mat-raised-button
            [disabled]="potraceInProgress"
            *ngIf="imgURL"
            (click)="refreshPotracePreview()"
          >
            <mat-icon>cached</mat-icon>
            Rafraichir l'aperçu
          </button>
          <app-canvas
            class="potrace-preview"
            #potracePreview
            *ngIf="imgURL"
            [width]="canvasSize.x"
            [height]="canvasSize.y"
          ></app-canvas>
        </div>
      </div>

      <div class="quick-draw-wrapper" [ngClass]="{ hidden: !isQuickDraw }">
        <app-canvas
          [width]="canvasSize.x"
          [height]="canvasSize.y"
          #quickDrawCanvas
        >
        </app-canvas>
        <h3 class="word">{{ word.value }}</h3>
        <div class="quick-draw-buttons">
          <button
            mat-raised-button
            [disabled]="!canRefreshQuickDraw"
            class="refresh-quickdraw"
            (click)="refreshQuickDraw()"
          >
            <mat-icon>refresh</mat-icon>
            Rafraichir
          </button>
          <button
            mat-raised-button
            [disabled]="!canRefreshQuickDraw"
            class="info next-quick-draw"
            (click)="newQuickDraw()"
          >
            Prochain Quick Draw!
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
