@import "variables"; //text-button

button {
  cursor: pointer;
  background-color: $purple;
  border: none;
  color: $white;
  border-radius: 0.2em;
  font-size: 1.2em;
  font-weight: lighter;
  min-width: 20em;
  padding: 1em;
  font-family: $font;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
  opacity: 50%;
}

button:active {
  border: none;
  outline: none;
}

button:hover {
  filter: brightness(150%);
}
