<div class="wrapper">
  <div class="title">
    <app-title text="Classement"></app-title>
  </div>

  <div class="options">
    <div class="buttons">
      <app-text-button
        class="button"
        [ngClass]="{ lighter: showClassic }"
        (click)="displayClassic()"
        text="Classique"
      ></app-text-button>
      <app-text-button
        class="button"
        [ngClass]="{ lighter: showSprintSolo }"
        (click)="displaySprintSolo()"
        text="Sprint solo"
      ></app-text-button>
    </div>
  </div>
  <div class="search-wrapper">
    <div class="search" *ngIf="showSearch">
      <p>Recherche par pseudo</p>
      <input class="input" [(ngModel)]="search" (keyup)="searchFilter()" />
    </div>
    <div class="glass">
      <button (click)="toggleSearch()" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <div class="body">
    <div *ngIf="showClassic" class="classic-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th (click)="orderClassicByRank()">Rang</th>
            <th (click)="orderClassicByPseudo()">Pseudo</th>
            <th (click)="orderClassicByRank()">Score</th>
            <th (click)="orderClassicByPlayedGames()">Parties jouées</th>
            <th (click)="orderClassicByWins()">Parties gagnées</th>
            <th (click)="orderClassicByWinPercentage()">% victoires</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let user of classicUsers; index as i">
            <tr *ngIf="user.display">
              <td>{{ user.classicStats?.rank }}</td>
              <td class="user">
                <app-avatar
                  class="avatar"
                  [user]="user"
                  [size]="30"
                ></app-avatar
                >{{ user.pseudo }}
              </td>
              <td>{{ user.classicStats?.score }}</td>
              <td>{{ user.classicStats?.numberPlayed }}</td>
              <td>{{ user.classicStats?.wins }}</td>
              <td>
                {{
                  ((user.classicStats?.wins || 0) /
                    (user.classicStats?.numberPlayed || 1)) *
                    100
                }}%
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div *ngIf="showSprintSolo" class="sprint-solo-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th (click)="orderSoloByRank()">Rang</th>
            <th (click)="orderSoloByPseudo()">Pseudo</th>
            <th (click)="orderSoloByRank()">Score</th>
            <th (click)="orderSoloByBestScore()">Meilleur score</th>
            <th (click)="orderSoloByGamesPlayed()">Parties jouées</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let user of sprintSoloUsers; index as i">
            <tr *ngIf="user.display">
              <td>{{ user.soloStats?.rank }}</td>
              <td class="user">
                <app-avatar
                  class="avatar"
                  [user]="user"
                  [size]="30"
                ></app-avatar
                >{{ user.pseudo }}
              </td>
              <td>{{ user.soloStats?.score }}</td>
              <td>{{ user.soloStats?.bestScore }}</td>
              <td>{{ user.soloStats?.numberPlayed }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
