@import "variables";

.wrapper .title {
  display: flex;
  justify-content: center;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.button{
  box-sizing: border-box;
}

.lighter {
  border: 3px solid $pink;
  border-radius: 4px;
}

.wrapper .options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .options .buttons {
  display: flex;
}

.glass {
  padding-right: 10px;
}

.glass button {
  background-color: $pink;
}

.search-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  
}

.search{
  margin-right: 10px;
}

.search .input {
  display: flex;
  justify-content: flex-end;
  height: 2em;
  margin-top: 10px;
  width: 100%;
  font-family: $font;
  font-size: 1em;
}

.search .input:focus {
  outline: 3px solid $pink;
}

.wrapper .body {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper .options app-text-button {
  margin: 0px 10px 0px 10px;
}

table {
  width: 100%;
  color: white;
  background-color: $purple;
  padding: 10px;
  border: 1px solid black;
}

.table {
  width: 90vw;
}

table tr {
  background-color: $purple;
}

table tr:nth-child(even) {
  background-color: $purple-lighter;
  color: white;
}

table tr th {
  text-align: left;
  background-color: $blue;
  padding: 10px;
  border-radius: 4px;
}

th {
  padding: 0px 10px 0px 10px;
}

th:hover {
  color: $purple;
  cursor: pointer;
}

td {
  padding: 5px 10px 5px 10px;
}

.user {
  display: flex;
  align-items: center;
}
.avatar {
  padding-right: 10px;
}
