<div class="body">
  <app-chat-side-bar></app-chat-side-bar> 
  <div class="m-10 right">
    <div *ngIf="currentChannelName">
      <app-channel
        *ngFor="let channel of subscribedChannels | async"
        [ngClass]="{ hidden: channel.channelName !== currentChannelName }"
        [channel]="channel"
        (newMessage)="sendMessage(currentChannelName, $event)"
      ></app-channel>
    </div>
  </div>
</div>
