<div *ngIf="user">
  <div class="loader" *ngIf="user.pseudo === ''">
    <mat-progress-spinner class="spinner" mode="indeterminate" [value]="50">
    </mat-progress-spinner>
  </div>

  <div class="wrapper" *ngIf="user.pseudo !== ''">
    <div class="page-header">
      <app-title [text]="'Profil'"></app-title>
    </div>

    <div class="profile-header">
      <div class="avatar">
        <app-avatar
          [overlay]="false"
          (click)="editAvatar()"
          [user]="user"
          [size]="200"
        ></app-avatar>
      </div>
      <p>{{ user.firstName }} {{ user.lastName }}</p>
      <h1>@{{ user.pseudo }}</h1>
      <h4>{{ user.description }}</h4>
    </div>
    <div class="profile-body">
      <mat-tab-group
        animationDuration="0ms"
        class="tab-group"
        [selectedIndex]="0"
        mat-align-tabs="center"
      >
        <mat-tab label="Parties jouées">
          <app-game-history
            [games]="user.gameHistory!"
            [soloGames]="user.soloGameHistory!"
          ></app-game-history>
        </mat-tab>
        <mat-tab label="Connexions">
          <app-connection-history
            [logins]="user.loginHistory!"
            [logouts]="user.logoutHistory!"
          ></app-connection-history>
        </mat-tab>
        <mat-tab label="Statistiques">
          <app-user-stats
            [soloStats]="user.soloStats!"
            [classicStats]="user.classicStats!"
          ></app-user-stats>
        </mat-tab>
        <mat-tab label="Amis">
          <app-profile-friends
            [friendsAndRequests]="user.friendsAndRequests!"
          ></app-profile-friends>
        </mat-tab>
        <mat-tab label="Classement" *ngIf="false">
          <app-user-ranking
            [soloStats]="user.soloStats!"
            [classicStats]="user.classicStats!"
          ></app-user-ranking>
        </mat-tab>
      </mat-tab-group>
      <div class="edit-profile-button">
        <button
          mat-icon-button
          matTooltip="Modifier le profil"
          matTooltipPosition="left"
          (click)="editProfile()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
