@import "variables"; //style

.wrapper {
  padding: 1em 5em 1em 5em !important;
  margin: -24px !important;
  background-color: $purple;
  width: 50vw;
}

.wrapper .title {
  display: flex;
  justify-content: center;
  color: white;
}

.wrapper * {
  font-family: $font;
}

.form {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
  padding-top: 20px;
}

.form-control {
  color: white;
}

input {
  font-family: $font;
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 5px 0px 10px 0px;
  padding: 0px;
  padding-left: 5px;
  border: none;
  color: black;
  width: 100%;
}

.col-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/1;
  align-items: flex-start;
}

.form-control {
  margin: 0px 0px 0px 10px;
}

.col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 2/2;
}

.buttons {
  display: flex;
  justify-content: space-around;
  grid-column: 1/3;
}

.btn {
  width: fit-content !important;
  align-self: center;
  color: white;
}
