<div class="wrapper" *ngIf="user">
  <div class="title">
    <h3>Modifier le profil</h3>
  </div>
  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <div class="col-left">
      <div class="form-control">
        <p>Prénom</p>
        <input class="input" formControlName="firstName" />
      </div>
      <div class="form-control">
        <p>Nom</p>
        <input class="input" formControlName="lastName" />
      </div>
      <div class="form-control">
        <p>Pseudo</p>
        <input class="input" formControlName="pseudo" />
      </div>
    </div>
    <div class="col-right">
      <div class="form-control">
        <p>Nouveau mot de passe</p>
        <input class="input" formControlName="password" />
      </div>
      <div class="form-control">
        <p>Cofirmation</p>
        <input class="input" formControlName="confirmPassword" />
      </div>
    </div>

    <div class="buttons">
      <button
        class="error btn"
        mat-raised-button
        type="button"
        (click)="close()"
      >
        Annuler
      </button>
      <button class="success btn" mat-raised-button>Confirmer</button>
    </div>
  </form>
</div>
