.button{
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}

.button:hover{
    cursor: pointer;
}

.red-cross{
    position: absolute;
    top: 0;
    margin-left: 10px;
    height: 25px;
    width: 3px;
    background-color: red;
    transform: rotate(-45deg);
}