<div class="wrapper">
  <div class="title"><app-title text="Tutoriel"></app-title></div>
  <div class="tutorial-wrapper">
    <div class="menu">
      <h3
        class="menu-element"
        *ngFor="let menuTitle of menuElements; let i = index"
        [ngClass]="{ 'current-index': i === currentPage }"
        (click)="goToPage(i)"
      >
        {{ menuTitle }}
      </h3>
    </div>
    <div class="tutorial-content">
      <h1 #typewritertitle class="typewriter"><!--Injected innerHTML--></h1>
      <div>
        <p class="text-content">{{ tutorialStr[currentPage - 1].text }}</p>
      </div>

      <!--Displaying tutorial images-->
      <div class="img-container">
        <app-single-image
          *ngFor="let image of tutorialStr[currentPage - 1].imgSrc"
          [source]="image.path"
          [title]="image.title"
        >
        </app-single-image>
      </div>
      <div class="navigation">
        <button
          [ngClass]="{ hidden: currentPage === 1 }"
          (click)="previous()"
          mat-raised-button
        >
          <mat-icon>chevron_left</mat-icon>Précédent
        </button>
        <button
          *ngIf="currentPage !== menuElements.length - 1"
          (click)="next()"
          mat-raised-button
        >
          Suivant
          <mat-icon>chevron_right</mat-icon>
        </button>
        <button
          *ngIf="currentPage === menuElements.length - 1"
          (click)="home()"
          mat-raised-button
          class="done"
        >
          Terminé
        </button>
      </div>
    </div>
  </div>
</div>
