@import "variables"; //style

.wrapper{
  padding-bottom: 20px;
}

.title{
  display: flex;
  justify-content: center;
}

.next{
  display: flex;
  justify-content: center;
}

.navigation button {
  width: 200px !important;
  margin: 10px;
  background-color: $blue;
  color: white;
}

.done{
  background-color: $purple !important;
}

.actions {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}

.actions > button {
  font-family: $font;
  width: fit-content !important;
}

.wrapper > .body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper > .body > .element {
  max-width: 45% !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.wrapper .navigation {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.wrapper .navigation button {
  font-family: $font;
}


.current-page{
  background-color: $blue;
}

/*
Inspired by:
https://css-tricks.com/snippets/css/typewriter-effect/
*/
.typewriter {
  text-decoration: underline;
  height: 30px;
  margin-top:3%;
  margin-left: 5%;
  border-right: .15em solid $pink; /* The typwriter cursor */
  letter-spacing: .15em; /* Adjust as needed */
  width:fit-content;
  animation: 
    blink-caret .75s step-end infinite;
    
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $pink; }
}

.text-content{
  line-height: 150%;
  font-size: x-large;
  margin-top:5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  text-justify: inter-word;
}

.img-container {
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  max-width: 100%;
}

.tutorial-image { grid-area: image; }

.tutorial-wrapper{
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 20% 75%;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.menu{
  margin-top:5%;
  border-right: solid;
  border-color: lightslategray;
  border-width: 1px;
}

.menu-element{
  margin-bottom: 10%;
}

.menu-element:hover{
  cursor: pointer;
}

.current-index{
  color: $blue;
}

