@import "variables"; //group-create

.wrapper {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 4px;
}

.wrapper .content {
  display: flex;
  height: 100%;
}

.wrapper .content .tries-left {
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $purple;
}

.wrapper .content .hint-btn {
  height: 100% !important;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  color: yellow;
}

.lightbulb {
  height: 100%;
  width: 100%;
  font-size: 4em;
}

.wrapper .content .hints {
  color: black;
  line-height: 1.1em;
}

.hints {
  overflow-y: auto;
}

.hint {
  padding-left: 5px;
  padding-top: 5px;
  word-break: break-all;
  display: list-item;
  list-style-type: none;
}
