<div class="wrapper">
  <div class="content">
    <button
    (click)="showHint()"
      class="hint-btn"
      mat-raised-button
      matTooltip="Demander un indice"
      matTooltipPosition="before"
    >
      <mat-icon class="yellow lightbulb">lightbulb</mat-icon>
    </button>
    <div class="hints">
      <p>Indices:</p>
      <ul *ngFor="let hint of hints; index as i">
        <li *ngIf="isShowHint[i]" class="hint">{{hint}}</li>
      </ul>
    </div>
  </div>
</div>
