<div class="wrapper">
  <div class="sprint-solo">
    <app-title text="Sprint solo"></app-title>
    <p>Rang: {{ soloStats }}</p>
  </div>
  <div class="classic">
    <app-title text="Classique"></app-title>
    <p>Rang: {{ classicStats }}</p>
  </div>
</div>
