<div class="wrapper">
  <div class="options">
    <app-text-button
      class="leave-game"
      (click)="leaveGame()"
      text="Quitter le groupe"
    ></app-text-button>
  </div>

  <app-lobby-game-info [game]="game"></app-lobby-game-info>

  <div class="body" *ngIf="isClassic">
    <app-lobby-teams-info [teams]="game.teams!"></app-lobby-teams-info>
  </div>
  <div class="start-game">
    <app-text-button
      [disabled]="!canStartGame"
      (click)="startGroupGame()"
      [text]="'DÉBUTER LA PARTIE!'"
    ></app-text-button>
  </div>
</div>
