@import "variables";
.wrapper {
  padding: 20px 20px 80px 20px;
}

.wrapper .search{
  display: flex;
  flex-direction: column;
  padding: 10px 0px 30px 0px;
}

.search-friends-wrapper{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.wrapper .search .search-wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.wrapper .search .search-wrapper .input {
  height: 2em;
  width: 100%;
  font-family: "PressStart2P";
  font-size: 1em;
  padding-left: 10px;
  color: black !important;
}

.wrapper .container {
  padding-bottom: 30px;
}

.wrapper .friends {
  padding-bottom: 70px !important;
}

.search-friends{
  width: fit-content !important;
  background-color: $pink;
  color: white;
}

.wrapper .container .title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 4px;
}

.user:hover {
  background-color: $purple-lighter;
}

.user .user-info {
  display: flex;
  align-items: center;
}

.user .user-info .avatar {
  padding-right: 10px;
}

.user .options {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.user .options .option {
  padding: 0px 20px 0px 20px;
}

.user .options .option:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.done {
  background-color: green;
  border-radius: 50%;
}

.clear {
  background-color: red;
  border-radius: 50%;
}
