<div class="wrapper" *ngIf="friendsAndRequests">
  <div class="search-friends-wrapper">
    <button (click)="searchFriends()" class="search-friends" mat-raised-button>
      <mat-icon>search</mat-icon>Chercher des amis
    </button>
  </div>
  <div
    class="container"
    *ngIf="friendsAndRequests.outbound && friendsAndRequests.outbound.length"
  >
    <h1 class="title">Demandes envoyées</h1>
    <div *ngFor="let request of friendsAndRequests.outbound">
      <div class="user">
        <div class="user-info">
          <app-avatar
            [size]="avatarSize"
            class="avatar"
            [user]="request.to!"
          ></app-avatar>
          {{ request.to?.pseudo }}
        </div>
      </div>
    </div>
  </div>
  <div
    class="container"
    *ngIf="friendsAndRequests.inbound && friendsAndRequests.inbound.length"
  >
    <h1 class="title">Demandes</h1>
    <div *ngFor="let request of friendsAndRequests.inbound">
      <div class="user">
        <div class="user-info">
          <app-avatar
            [size]="avatarSize"
            class="avatar"
            [user]="request.from!"
          ></app-avatar>
          {{ request.from?.pseudo }}
        </div>
        <div class="options">
          <div class="option">
            <div
              (click)="acceptRequest(request.from?.pseudo)"
              class="done"
              matTooltip="Accepter"
            >
              <mat-icon>done</mat-icon>
            </div>
          </div>
          <div class="option">
            <div
              (click)="declineRequest(request.from?.pseudo)"
              class="clear"
              matTooltip="Refuser"
            >
              <mat-icon>clear</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="container friends"
    *ngIf="friendsAndRequests.friends && friendsAndRequests.friends.length"
  >
    <div class="title">
      <h1>Amis</h1>
      <mat-icon (click)="toggleFilter()" class="hover">search</mat-icon>
    </div>
    <div class="search" *ngIf="showFilter">
      <h3>Recherche par pseudo</h3>
      <div class="search-wrapper">
        <input
          class="input"
          type="text"
          [(ngModel)]="search"
          (keyup)="searchFilter()"
        />
      </div>
    </div>
    <div *ngFor="let friend of friendsAndRequests.friends">
      <div *ngIf="friend.display" class="user">
        <div class="user-info">
          <app-avatar
            [size]="avatarSize"
            class="avatar"
            [user]="friend"
          ></app-avatar>
          {{ friend.pseudo }}
        </div>
      </div>
    </div>
  </div>
</div>
