@import "variables";

.body{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  

.body .col {
  margin: 20px;
}

.body .col .team {
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.add-virtual{
  margin-top: 10px;
}

.blue {
  background-color: $blue;
}

.pink {
  background-color: $pink;
}

.body .col-right .team {
  background-color: $blue;
}

.team .member {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.team .member .avatar {
  padding-right: 10px;
}

.wrapper .start-game {
  display: flex;
  justify-content: center;
}
