@import "variables"; // main-menu

.wrapper {
  max-height: 230px;
  overflow-y: auto;
  max-width: 100%;
  margin: 10px;
}
.create-group-btn {
  width: 100% !important;
  margin-bottom: 10px;
  background-color: $dark-blue !important;
}

.panel-header {
  background-color: $dark-blue !important;
}

.panel-header p {
  font-family: $font;
  color: white;
}

.panel {
  margin-bottom: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}

.panel-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  min-height: 3em;
  align-items: center;
  padding: 0px 10px 0px 10px;
  border-radius: 4px;
}

.panel-header:hover {
  filter: brightness(90%);
}

.panel-content {
  transition: height 0.2s ease-out;
}

.channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-blue;
  border-radius: 4px;
  word-break: break-all;
  padding-left: 15px;
  height: auto;
  padding: 5px;
}

.channel-selected {
  filter: brightness(90%);
}

.channel:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.channel-info-right {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
}

.channel-info-left {
  position: relative;
  display: flex;
  justify-content: start;
}

.owner {
  color: black;
  line-height: 0.6em;
  padding-right: 5px;
}

.channel-item-1 {
  flex-wrap: wrap;
  font-family: $font;
}

.channel-item-2 {
  height: 25px;
  width: 25px;
  font-size: auto;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 25px;
}

.game-icon {
  color: goldenrod;
}
