<div class="wrapper">
  <button
    class="create-group-btn"
    mat-raised-button
    matTooltip="Créer un canal"
    (click)="create()"
  >
    <app-group-plus></app-group-plus>
  </button>

  <div class="panel">
    <div class="panel-header" (click)="toggleSubscribedChannels()">
      <p>Abonnements</p>
      <mat-icon *ngIf="!subscribedChannelsExpanded">add</mat-icon>
      <mat-icon *ngIf="subscribedChannelsExpanded">remove</mat-icon>
    </div>

    <div class="panel-content" *ngIf="subscribedChannelsExpanded">
      <div
        (click)="selectChannel(channel.channelName)"
        *ngFor="let channel of subscribedChannels | async; trackChannels"
        [ngClass]="{
          channel: true,
          'channel-selected': channel.channelName === currentChannelName
        }"
      >
        <div class="channel-info-left">
          <p class="channel-item-1">
            {{ channel.channelName }}
            <mat-icon class="game-icon" *ngIf="channel.isGameChannel"
              >sports_esports</mat-icon
            >
          </p>
        </div>

        <div class="channel-info-right">
          <div *ngIf="channel.unseenMessages" class="channel-item-2">
            <p>{{ channel.unseenMessages }}</p>
          </div>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="menu"
            class="channel-item-3"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="channel-item-4">
            <button mat-menu-item (click)="getHistory(channel.channelName)">
              <mat-icon>get_app</mat-icon>
              <span>Obtenir l'historique</span>
            </button>
            <button
              *ngIf="!channel.isGameChannel"
              mat-menu-item
              (click)="leaveChannel(channel.channelName)"
            >
              <mat-icon>logout</mat-icon>
              <span>Quitter le canal</span>
            </button>
            <button mat-menu-item (click)="deleteChannel(channel.channelName)">
              <mat-icon>delete</mat-icon>
              <span>Supprimer le canal</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-header" (click)="toggleUnsubscribedChannels()">
      <p>Autres canaux</p>
      <mat-icon *ngIf="!unsubscribedChannelsExpanded">add</mat-icon>
      <mat-icon *ngIf="unsubscribedChannelsExpanded">remove</mat-icon>
    </div>
    <div class="panel-content" *ngIf="unsubscribedChannelsExpanded">
      <div
        (click)="joinChannel(channel.channelName)"
        *ngFor="
          let channel of unsubscribedChannels | async;
          index as i;
          trackChannels
        "
        class="channel"
      >
        <div class="channel-info-left">
          <p class="channel-item-1">
            {{ channel.channelName }}
          </p>
        </div>
        <div class="channel-info-right">
          <div *ngIf="channel.unseenMessages" class="channel-item-2">
            <p>{{ channel.unseenMessages }}</p>
          </div>
          <button
            mat-icon-button
            aria-label="menu"
            class="channel-item-3"
            matTooltip="Rejoindre"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
