@import "variables"; //style

.actions {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}

.actions > button {
  font-family: $font;
  width: fit-content !important;
}

.wrapper > .loader {
  display: flex;
  justify-content: center;
}

.wrapper > .body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper > .body > .element {
  max-width: 45% !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.pw-header {
  display: flex;
  justify-content: center;
}

.canvas {
  align-self: center;
}

.wrapper .navigation {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.wrapper .navigation button {
  font-family: $font;
}
.canvas-info {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.canvas-info-wrapper {
  padding-top: 5px;
}

.navigation-btn{
  margin: 10px;
}

.title {
  font-size: 0.7em;
  color: $blue;
}

