<div class="wrapper">
  <div class="pw-header">
    <app-title text="Paires mot-image"></app-title>
  </div>

  <div class="actions">
    <button
      class="create success"
      mat-raised-button
      (click)="createPairWordDrawing()"
    >
      <mat-icon>add</mat-icon>
      Créer une nouvelle paire
    </button>
  </div>
  <div class="loader" *ngIf="!drawings.length">
    <mat-spinner class="mat-spinner" mode="indeterminate" [value]="50">
    </mat-spinner>
  </div>

  <div class="body" [ngClass]="{ hidden: !drawings.length }">
    <div class="element" *ngFor="let id of drawingIds; index as i">
      <app-canvases
        class="canvas"
        [size]="canvasSize"
        [amount]="30"
      ></app-canvases>
      <div class="hide canvas-info-wrapper">
        <div class="canvas-info" *ngIf="drawings[i]?.word">
          <p class="title">Mot</p>
          <p>
            {{ drawings[i]?.word }}
          </p>
        </div>
        <div class="canvas-info" *ngIf="drawings[i]?.difficulty">
          <p class="title">Difficulté</p>
          <p>
            {{ drawings[i]?.difficulty }}
          </p>
        </div>
        <div class="canvas-info" *ngIf="drawings[i]?.hints">
          <p class="title">Indices</p>
          <div class="hint">
            <p *ngFor="let hint of drawings[i]?.hints">
              {{ hint }}
            </p>
          </div>
        </div>
        <div class="canvas-info" *ngIf="drawings[i]?.drawingMode">
          <p class="title">Mode de dessin</p>
          <p>
            {{ drawings[i]?.drawingMode }}
          </p>
        </div>
        <div class="canvas-info" *ngIf="drawings[i]?.panoramicMode">
          <p class="title">Mode panoramique</p>
          <p>
            {{ drawings[i]?.panoramicMode }}
          </p>
        </div>
        <div class="canvas-info" *ngIf="drawings[i]?.centerMode">
          <p class="title">Mode centré</p>
          <p>
            {{ drawings[i]?.centerMode }}
          </p>
        </div>
        <div class="canvas-info" *ngIf="drawings[i]?.creatorPseudo">
          <p class="title">Créateur</p>
          <p>
            {{ drawings[i]?.creatorPseudo }}
          </p>
        </div>
        <div class="canvas-info" *ngIf="drawings[i]?.creationTime">
          <p class="title">Création</p>
          <p>
            {{ drawings[i]?.creationTime | date: "d/L/YYYY H:mm:ss" }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="navigation">
    <div class="navigation-short" *ngIf="pages.length < 5">
      <button
        [ngClass]="{ 'current-page': page === currentPage }"
        class="navigation-btn"
        *ngFor="let page of pages"
        (click)="goToPage(page)"
        mat-raised-button
      >
        {{ page }}
      </button>
    </div>
    <div class="navigation-long" *ngIf="pages.length >= 5">
      <button
        class="navigation-btn"
        (click)="goToPage(1)"
        mat-raised-button
        matTooltip="Début"
      >
        <mat-icon>first_page</mat-icon>
      </button>

      <button
        class="navigation-btn"
        (click)="goToPage(currentPage - 2)"
        mat-raised-button
        *ngIf="currentPage === pages.length"
      >
        {{ currentPage - 2 }}
      </button>

      <button
        class="navigation-btn"
        (click)="goToPage(currentPage - 1)"
        mat-raised-button
        *ngIf="currentPage > 1"
      >
        {{ currentPage - 1 }}
      </button>

      <button
        [ngClass]="{ 'current-page': true }"
        class="navigation-btn"
        (click)="goToPage(currentPage)"
        mat-raised-button
      >
        {{ currentPage }}
      </button>

      <button
        class="navigation-btn"
        (click)="goToPage(currentPage + 1)"
        mat-raised-button
        *ngIf="currentPage < pages.length"
      >
        {{ currentPage + 1 }}
      </button>

      <button
        class="navigation-btn"
        (click)="goToPage(currentPage + 2)"
        mat-raised-button
        *ngIf="currentPage === 1"
      >
        {{ currentPage + 2 }}
      </button>

      <button
        class="navigation-btn"
        (click)="goToPage(pages.length)"
        mat-raised-button
        matTooltip="Fin"
      >
        <mat-icon>last_page</mat-icon>
      </button>
    </div>
  </div>
</div>
