<div class="wrapper">
  <div class="item-wrapper">
    <div class="item hover" (click)="toggleColorPicker()">
      <mat-icon class="icon" [ngStyle]="{ color: color.value }"
        >palette</mat-icon
      >
    </div>
  </div>
  <app-color-picker
    (closed)="closeColorPicker()"
    [show]="showColorPicker"
    (mouseleave)="closeColorPicker()"
  ></app-color-picker>
  <div class="item-wrapper"></div>

  <div class="pencil-icon-wrapper">
    <div
      class="item hover"
      [ngClass]="{ selected: isPencil }"
      (click)="setPencil()"
    >
      <mat-icon class="icon">create</mat-icon>
    </div>
  </div>
  <div class="item-wrapper">
    <div class="width-wrap">
      <app-width
        [width]="pencilWidth"
        (valueChange)="setPencilWidth($event)"
        class="width-selector hover"
      ></app-width>
    </div>
  </div>
  <div class="item-wrapper">
    <div
      class="item hover"
      [ngClass]="{ selected: isEraser }"
      (click)="setEraser()"
    >
      <app-eraser-icon class="eraser-icon" size="2em"></app-eraser-icon>
    </div>
  </div>

  <div class="item-wrapper">
    <div class="width-wrap">
      <app-width
        [width]="eraserWidth"
        (valueChange)="setEraserWidth($event)"
        class="width-selector hover"
      ></app-width>
    </div>
  </div>
  <div class="item-wrapper">
    <div
      class="item grid hover"
      [ngClass]="{ selected: gridActivated }"
      (click)="grid()"
    >
      <app-grid-icon size="2em"></app-grid-icon>
    </div>
  </div>
  <div class="item-wrapper hover">
    <div class="width-wrap">
      <app-width
        [width]="gridWidth"
        (valueChange)="setGridWidth($event)"
        class="width-selector"
      ></app-width>
    </div>
  </div>
  <div class="item-wrapper">
    <div class="undo">
      <div
        *ngIf="canUndo(); else elseBlock"
        (click)="undo()"
        class="item hover"
      >
        <app-undo-icon class="hover" size="2em"></app-undo-icon>
      </div>
      <ng-template #elseBlock>
        <div class="item garbage hover hide">
          <app-undo-icon size="2em"></app-undo-icon>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="item-wrapper">
    <div class="redo" [ngClass]="{ hide: !canRedo() }">
      <div (click)="redo()" class="item hover">
        <app-redo-icon class="hover" size="2em"></app-redo-icon>
      </div>
    </div>
  </div>
  <div class="item-wrapper">
    <div class="garbage">
      <div (click)="clear()" class="item garbage hover">
        <app-thrash-icon class="hover" size="2em"></app-thrash-icon>
      </div>
    </div>
  </div>
</div>
<!--
   
    
    </li>

    <li>
      <div
        (click)="grid()"
        class="button dark-blue"
        (mousemove)="showGridPanel()"
        (mouseleave)="hideGridPanel()"
      >       
        <app-width
          (click)="grid()"
          [width]="gridWidth"
          (valueChange)="setGridWidth($event)"
          class="width grid-width"
          *ngIf="displayGridPanel"
        ></app-width>
      </div>
    </li>
  </ul>
  <ul class="bottom">
    <li>
      <div *ngIf="canRedo()" (click)="redo()" class="button button-active pink">
        <app-redo-icon
          class="hover"
          [color]="iconColor"
          [size]="iconSize"
        ></app-redo-icon>
      </div>
    </li>
    <li>
      <div
        *ngIf="canUndo(); else elseBlock"
        (click)="undo()"
        class="button button-active blue"
      >
        <app-undo-icon
          class="hover"
          [color]="iconColor"
          [size]="iconSize"
        ></app-undo-icon>
      </div>
     
    </li>
  </ul>
</div>
 -->
