@import "variables";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 160px;
}

.wrapper .item-wrapper {
  display: flex;
  justify-content: center;
}

.hide {
  visibility: hidden;
}

.selected {
  border: 4px solid $blue;
}

.width-selector {
  background-color: $purple;
  border-radius: 4px;
}

.pencil-icon-wrapper{
  display: flex;
  justify-content: center;
}

.item {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  box-sizing: border-box;
}
