@import "variables"; //group-create

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  width: 100%;
}

.wrapper .guesses {
  border-radius: 4px;
  width: 100%;
  background-color: white;
  color: black;
  overflow-y: scroll;
}

.wrapper .guess-input {
  width: 100%;
  display: flex;
  font-family: "PressStart2P";
}

::placeholder {
  color: $purple;
  opacity: 50%;
  font-family: "PressStart2P";
}

.wrapper .guess-input .input {
  height: 2em;
  width: 100%;
}

.wrapper .guess-input .button {
  background-color: $blue;
  padding: 0px !important;
  margin: 0px !important;
}

.guess {
  padding-left: 5px;
  padding-top: 5px;
  margin: 0;
  display: inline;
  float: left;
}

.pseudo-pink {
  color: $pink;
}

.pseudo-blue {
  color: $blue;
}
