<div class="wrapper" (keydown.enter)="guess()">
  <div #guesses class="guesses">
    <div *ngFor="let guess of previousGuesses">
      <!-- <p class='guess pseudo'>{{guess.pseudo}} :</p> -->
      <p [ngClass]="{
        'guess pseudo-blue': currentTeam == 'Bleu',
        'guess pseudo-pink': currentTeam !== 'Bleu'
      }">{{guess.pseudo}} :</p>
      <p class='guess'>{{ guess.guessContent }}</p>
    </div>
  </div>
  <div class="guess-input" *ngIf="isGuesser">
    <input placeholder="Deviner..." class="input" [(ngModel)]="word" />
    <button class="button" mat-raised-button type="submit" (click)="guess()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
