<div class="wrapper">
  <div class="header">
    <mat-form-field class="select-mode">
      <mat-label>Mode</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="changeMode($event)">
        <mat-option selected value="Classique">Classique</mat-option>
        <mat-option value="Sprint solo">Sprint solo</mat-option>
      </mat-select>
    </mat-form-field>
    <h1 class="title">{{ selected }}</h1>
  </div>

  <div class="classic" *ngIf="displayClassic && classicStats">
    <!-- Classic total games -->
    <app-stats-count-up
      [from]="0"
      [to]="classicStats.numberPlayed"
      icon="play_arrow"
      text="parties jouées"
    ></app-stats-count-up>
    <!-- Classic win percent -->
    <app-stats-count-up
      [from]="0"
      [to]="(classicStats.wins / classicStats.numberPlayed) * 100"
      suffix=" %"
      text="de victoires"
      type="percent"
    ></app-stats-count-up>
    <!-- Classic total points -->
    <app-stats-count-up
      [from]="0"
      [to]="classicStats.score"
      icon="star"
      text="points au total"
    ></app-stats-count-up>
    <!-- Classic average points -->
    <app-stats-count-up
      [from]="0"
      [to]="classicStats.score / classicStats.numberPlayed"
      icon="equalizer"
      text="points/partie en moyenne"
      [decimals]="2"
    ></app-stats-count-up>
    <!-- Classic total time played -->
    <app-stats-count-up
      [from]="0"
      [to]="classicStats.timePlayedMs"
      icon="hourglass_full"
      text="temps total joué"
      type="time"
    ></app-stats-count-up>
    <!-- Classic average time per game -->
    <app-stats-count-up
      [from]="0"
      [to]="classicStats.timePlayedMs / classicStats.numberPlayed"
      icon="hourglass_empty"
      text="temps moyen/partie"
      type="time"
    ></app-stats-count-up>
  </div>
  <div class="sprint-solo" *ngIf="displaySprintSolo && soloStats">
    <!-- Sprint solo total games played-->
    <app-stats-count-up
      [from]="0"
      [to]="soloStats.numberPlayed"
      text="parties jouées"
      icon="play_arrow"
    ></app-stats-count-up>
    <!-- Sprint solo best score -->
    <app-stats-count-up
      [from]="0"
      [to]="soloStats.bestScore"
      text="meilleur score"
      icon="military_tech"
    ></app-stats-count-up>
    <!-- Sprint solo total points -->
    <app-stats-count-up
      [from]="0"
      [to]="soloStats.score"
      icon="star"
      text="points au total"
    ></app-stats-count-up>
    <!-- Sprint solo average points -->
    <app-stats-count-up
      [from]="0"
      [to]="soloStats.score / soloStats.numberPlayed"
      icon="equalizer"
      text="points/partie en moyenne"
      [decimals]="2"
    ></app-stats-count-up>
    <!-- Classic total time played -->
    <app-stats-count-up
      [from]="0"
      [to]="soloStats.timePlayedMs"
      icon="hourglass_full"
      text="temps total joué"
      type="time"
    ></app-stats-count-up>
    <!-- Classic total time played -->
    <app-stats-count-up
      [from]="0"
      [to]="soloStats.timePlayedMs / soloStats.numberPlayed"
      icon="hourglass_full"
      text="temps moyen/partie"
      type="time"
    ></app-stats-count-up>
  </div>
</div>
