@import "variables"; //style

.wrapper {
  font-family: $font;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header .title {
  max-width: 90%;
  text-align: end;
}

app-stats-count-up {
  margin-bottom: 20px;
}

app-stats-count-up:hover {
  filter: brightness(90%);
}

.classic {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  padding: 20px;
}

.sprint-solo {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  padding: 20px;
}
