<div mat-dialog-content class="mat-dialog-content">
  <app-title class="smaller" text="Ajouter un joueur virtuel"></app-title>
  <div class="container">
    <div class="col-left v-player">
      <img
        (click)="addVPlayer(bob.pseudo)"
        class="avatar"
        [src]="bob.avatar"
        [attr.height]="150"
        [attr.width]="150"
      />
      <p class="pseudo">{{ bob.pseudo }}</p>
    </div>
    <div class="col-right v-player">
      <img
      (click)="addVPlayer(alice.pseudo)"
        class="avatar"
        [src]="alice.avatar"
        [attr.height]="150"
        [attr.width]="150"
      />
      <p class="pseudo">{{ alice.pseudo }}</p>
    </div>
  </div>
</div>
