@import "variables"; //group-create

.mat-dialog-content {
  padding: 1em 5em 1em 5em !important;
  margin: -24px !important;
  background-color: $purple-lighter;
}

.smaller {
  font-size: 0.5em !important;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
}

.col-left {
  margin: 30px;
  display: inline-block;
}

.col-right {
  margin: 30px;
  display: inline-block;
}

.v-player .avatar:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.container {
  width: 100%;
  text-align: center;
  font-size: 16;
}

.pseudo {
  margin-top: 10px;
}

