@import "variables"; //style

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 4em;
}

.spin {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rubber-band {
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: rubber-brand;
}

@keyframes rubber-brand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.progress-bar-wrapper {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text h1 {
  padding-bottom: 10px;
}

.red-bar {
  position: absolute;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  background-color: red;
}

.green-bar-wrapper {
  position: absolute;
  height: 100%;
}

.green-bar {
  position: absolute;
  height: 100%;
  background-color: green;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  animation: appear;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
