<div class="wrapper">
  <div
    class="logo"
    [ngClass]="animation"
    [style.animation-duration]="duration + 'ms'"
  >
    <mat-icon [inline]="true">{{ icon }}</mat-icon>
  </div>
  <div class="text">
    <h1>{{ display }}</h1>
    <p>{{ text }}</p>
  </div>
</div>
<div *ngIf="type == 'percent'" class="progress-bar-wrapper">
  <div class="red-bar"></div>
  <div
    [style.animation-duration]="duration + 'ms'"
    [style.width]="current + '%'"
    class="green-bar-wrapper"
  >
    <div class="green-bar"></div>
  </div>
</div>
