<div mat-dialog-content class="wrapper">
  <div class='title'>
    <h3>Modifier l'avatar</h3>
  </div>

  <div class="options">
    <button
      mat-raised-button
      (click)="displayImage = true; displayEditor = false; fileInput.click()"
    >
      <mat-icon>get_app</mat-icon>
      Télécharger
    </button>
    <button mat-raised-button (click)="showEditor()">
      <mat-icon>edit</mat-icon> Dessiner
    </button>
  </div>

  <div class="editor-wrapper" *ngIf="displayEditor">
    <div class="edit">
      <app-editor class="editor"></app-editor>
    </div>
    <button
      mat-raised-button
      class="confirm success"
      (click)="setAvatarFromEditor()"
      *ngIf="displayEditor"
    >
      Confirmer
    </button>
  </div>

  <input
    #fileInput
    class="hidden"
    type="file"
    (change)="processFile($event)"
    accept=".png, .jpg, .svg"
  />

  <div class="result" *ngIf="downloadURL | async; let uploadSrc">
    <img class="preview" *ngIf="displayImage" [src]="uploadSrc" />
    <button
      *ngIf="displayImage"
      mat-raised-button
      class="confirm success"
      (click)="setUserAvatar(uploadSrc)"
    >
      Confirmer
    </button>
  </div>
</div>
