@import "variables"; //style
.wrapper {
  padding: 1em 5em 1em 5em !important;
  margin: -24px !important;
  background-color: $purple;
}

.wrapper .title {
  color: white;
  display: flex;
  justify-content: center;
}

.wrapper .options {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.wrapper .editor-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper .editor-wrapper .edit{
  height: 500px;
  margin-left: 100px;
  width: 600px;
}

.confirm {
  margin-top: 20px;
  align-self: center;
  width: fit-content !important;
}



.wrapper .options button {
  width: fit-content !important;
  font-family: $font;
  margin: 10px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result .preview {
  max-width: 300px;
}

.result .confirm {
  margin-top: 10px;
  align-self: center;
  width: fit-content !important;
}
