<div class="picker-wrapper" [ngClass]="{ hide: !show }">
  <div class="picker">
    <div class="color-wrapper">
      <app-color-palette
        [hue]="hue"
        (color)="color = $event"
        (click)="selectColor(color)"
      ></app-color-palette>
      <app-color-slider
        (color)="changeHue($event)"
        style="margin-left: 16px"
      ></app-color-slider>
    </div>
    <div class="input-wrapper">
      <div
        class="color-div"
        [ngStyle]="{ 'background-color': color.value || 'black' }"
      ></div>
    </div>
    <div class="options">
      <button (click)="close()" mat-raised-button class="confirm">
        <mat-icon>adjust</mat-icon> Sélectionner
      </button>
    </div>
  </div>
</div>
