@import "variables";

.palette{
  font-size: 3em;
}

.title {
  display: inline-flex;
}


.color-wrapper {
  display: flex;
}

.picker-wrapper {
  position: absolute;
  left: 100px;
  top: 0px;
}

.picker {
  position: relative;
  background-color: black;
  padding: 20px;
  border-radius: 4px;
  z-index: 500;
  cursor: default;
}

.hide {
  display: none;
}

.options {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.options .confirm {
  width: fit-content !important;
  background-color: green;
  color: white;
}
