.wrapper {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
}

.wrapper .sidebar{
  position: absolute;
  top: 0;
  left: -140px;
}

.wrapper .drawing {
  position: absolute;
  top: 0;
  left: 0;
}
