<div class="body">
    <div class="col" *ngFor="let team of teams; index as i">
      <div class="team" [ngClass]="{ pink: i == 0, blue: i == 1 }">
        <h3>{{ team.teamUID }}</h3>
        <div class="member" *ngFor="let member of team.teamMembers">
          <app-avatar class="avatar" [size]="30" [user]="member"></app-avatar>
          <p>{{ member.pseudo }}</p>
        </div>
      </div>
  </div>