@import "variables";

.body {
  display: flex;
  flex-direction: column;
}

.body .col {
  margin: 20px;
}

.body .col .team {
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.blue {
  background-color: $blue;
}

.pink {
  background-color: $pink;
}

.body .col-right .team {
  background-color: $blue;
}

.team .member {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.team .member .avatar {
  padding-right: 10px;
}
