
@import "variables"; //style
table{
    width: 100%;
    color: black;
    background-color: $purple;
    padding: 10px;
    padding-bottom: 120px;
}

table tr{
    background-color: $purple;
}

table tr:nth-child(even){
    filter: brightness(90%);
}

table tr th {
    text-align: left;
}

table tr td {
    padding: 5px;
}

.game:hover {
    background-color: $purple-lighter;
}

.player {
    display: flex;
}