<div>
  <div class="header">
    <mat-form-field class="select-mode">
      <mat-label>Mode</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="changeMode($event)">
        <mat-option selected value="Classique">Classique</mat-option>
        <mat-option value="Sprint solo">Sprint solo</mat-option>
      </mat-select>
    </mat-form-field>
    <app-title class="title" [text]="selected" style="font-size: 0.5em;"></app-title>
  </div>
  <table *ngIf="displayClassic">
    <tr>
      <th>Date</th>
      <th>Nom</th>
      <th>Mode</th>
      <th>Difficulté</th>
      <th>Nombre de rondes</th>
      <th>Équipe gagnante</th>
      <th>Équipe perdante</th>
      <th>Résultat</th>
    </tr>
    <tr class="game" *ngFor="let game of games">
      <td>{{ game.startTime | date: "HH:mm:ss d/LL/YY" }}</td>
      <td>{{ game.name }}</td>
      <td>{{ game.gameMode }}</td>
      <td>{{ game.difficulty }}</td>
      <td>{{ game.roundNum }}</td>
      <td>
        <div class="winning-team">
          <div class="player" *ngFor="let player of game.winningTeam.players">
            <app-avatar [user]="player" [size]="20"></app-avatar
            >{{ player.pseudo }}
          </div>
        </div>
      </td>
      <td>
        <div class="losing-team">
          <div class="player" *ngFor="let player of game.losingTeam.players">
            <app-avatar [user]="player" [size]="20"></app-avatar
            >{{ player.pseudo }}
          </div>
        </div>
      </td>
      <td>{{ game.result }}</td>
    </tr>
  </table>

  <!--Table for solo sprint games-->
  <table *ngIf="displaySprintSolo">
    <tr>
      <th>Date</th>
      <th>Nom</th>
      <th>Mode</th>
      <th>Difficulté</th>
      <th>Mots devinés</th>
    </tr>
    <tr class="game" *ngFor="let soloGame of soloGames">
      <td>{{ soloGame.startTime | date: "HH:mm:ss d/LL/YY" }}</td>
      <td>{{ soloGame.name }}</td>
      <td>{{ soloGame.gameMode }}</td>
      <td>{{ soloGame.difficulty }}</td>
      <td>
        {{ soloGame.roundNum }}
        <mat-icon
        *ngIf="bestSoloScore===soloGame.roundNum"
        class="icon"
        matTooltip="Meilleur résultat!"
        svgIcon="trophy"
      >
      </mat-icon>
      </td>
    </tr>
  </table>
</div>