.particles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.wrapper {
  padding-top: 20px;
}

.wrapper .title {
  display: flex;
  justify-content: center;
}

.wrapper .body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.wrapper .body .teams {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.wrapper .body .col-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  height: 500px;
}

.wrapper .body .col-right .hints {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .body .col-right .guess-content {
  height: 75%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .body .col-right .guess {
  height: 75%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .body .editor {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
