<div class="wrapper">
  <!-- <app-particles class='particles'></app-particles>-->
  <app-text-button
  class="create-group"
  (click)="leaveGame()"
  [text]="'Quitter la partie'"
></app-text-button>

  <div class="game-info">
    <app-game-info
      [game]="currentGame"
      [totalRoundTime]="roundTime"
      [roundTimeLeft]="currentRound.roundTimeLeft || 0"
      [team1Score]="team1Score"
      [team2Score]="team2Score"
      [triesLeft]="triesLeft"
      [word]="wordToGuess"
      [round]="round"
      [isArtist]="isArtist"
      [isGuesser]="isGuesser"
    ></app-game-info>
  </div>

  <div class="body">
    <div class="teams">
      <app-stream-teams-info
        [teams]="currentGame.teams!"
      ></app-stream-teams-info>
    </div>

    <div *ngIf="isArtist; then stream else watch"></div>
    <ng-template #stream>
      <app-stream></app-stream>
    </ng-template>
    <ng-template #watch>
      <app-watch-stream></app-watch-stream>
    </ng-template>

    <div class="col-right">
      <div class="hints">
        <app-hints></app-hints>
      </div>
      <div class="guess">
        <app-guess></app-guess>
      </div>
    </div>
  </div>
</div>
