/* You can add global styles to this file, and also import other style files */
@import "variables"; //style

@font-face {
  font-family: PressStart2P;
  src: url(./../assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf)
    format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  max-height: 100%;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: white;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: $font;
  background-color: $dark-blue;
}

* .input:focus {
  outline: 3px solid $pink;
}

.text-center {
  text-align: center;
}

.mat-raised-button {
  line-height: 0 !important;
  height: 30px !important;
  width: 30px !important;
}

.blue {
  background-color: $blue;
}

.pink {
  background-color: $pink;
}

.purple {
  background-color: $purple;
}

.m-10 {
  margin: 10px;
}

.white {
  color: $white;
}
.mat-simple-snackbar-action {
  color: black;
}

.hidden {
  display: none;
}

.snack-bar {
  position: relative !important;
  color: black;
}

.success {
  background-color: green;
  color: rgb(255, 255, 255);
}

.error {
  background-color: red;
}

.warning {
  background-color: yellow;
}

.info {
  background-color: $blue;
}

.hover {
  cursor: pointer;
}

.hover-light {
  cursor: pointer;
  filter: brightness(150%);
}

.hover-dark:hover {
  cursor: pointer;
  filter: brightness(80%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $blue;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $purple-lighter;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $pink;
}

.custom-dialog-container .mat-dialog-container {
  /* add your styles */
  margin: 0;
  padding: 0;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $pink !important;
}
