@import "variables";
.wrapper .avatar {
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.hover:hover{
    cursor: pointer;
}

.wrapper{
    position: relative;
}

.options {
    position: absolute;
    left: 100%;
    top: 0;
    padding: 10px;
    border-radius: 4px;
    background-color: $purple;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
}

.options .top-row{
    display: flex;
    align-items: center;
}

.options .options-avatar{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: white;
    object-fit: cover;
}

.options .bottom-row{
    display: flex;
    padding-top: 10px;
}

.bottom-row .add{
    background-color: green;
}

.inbound{
    color: white;
    background-color: green;
}

.outbound{
    color: white;
    background-color: grey;
}

.bottom-row .btn {
    margin: 0px 5px 0px 5px !important;
    width: fit-content !important;
    color: white;
}

.bottom-row .message {
    background-color: $blue;
}

.bottom-row .profile{
    background-color: $purple-lighter;

}