<div class="wrapper" (mouseenter)="enter()" (mouseleave)="leave()">
  <img
    class="avatar"
    [src]="user.avatar"
    [attr.height]="size + 'px'"
    [attr.width]="size + 'px'"
    [ngClass]="{ hover: !currentUser }"
  />
  <div *ngIf="displayOptions && overlay" class="options">
    <div class="top-row">
      <img class="options-avatar" [src]="user.avatar" />
      <p>{{ user.pseudo }}</p>
    </div>
    <div class="bottom-row">
      <button
        (click)="acceptRequest(user.pseudo)"
        class="btn inbound"
        *ngIf="isInboundRequest"
        mat-raised-button
      >
        <mat-icon>done</mat-icon>Accetper
      </button>
      <button class="btn outbound" *ngIf="isOutboundRequest" mat-raised-button>
        <mat-icon>mark_email_read</mat-icon>Demande envoyée
      </button>
      <button
        (click)="sendFriendRequest(user.pseudo)"
        *ngIf="!isFriend && !isInboundRequest && !isOutboundRequest"
        class="btn add"
        mat-raised-button
      >
        <mat-icon>person_add</mat-icon>Ajouter
      </button>
      <button *ngIf="isFriend" class="btn message" mat-raised-button>
        <mat-icon>chat</mat-icon>Message
      </button>
      <button
        (click)="profile(user.pseudo)"
        class="btn profile"
        mat-raised-button
      >
        <mat-icon>person</mat-icon>Profil
      </button>
    </div>
  </div>
</div>
