@import "variables"; //style

.wrapper{
  background-color: $purple;
  border-radius: 4px;
}

.top-row{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.drag {
  float: right;
  -webkit-app-region: drag;
}
