<div class="wrapper">
  <div class="top-row">
    <button
      mat-raised-button
      matTooltip="Mode intégré"
      class="attach-btn"
      (click)="attach()"
    >
      <mat-icon>lock</mat-icon>
    </button>
    <h2>CLAVARDAGE</h2>
    <button mat-raised-button class="drag">
      <app-move></app-move>
    </button>
  </div>
</div>
<app-chat-body> </app-chat-body>
