@import "variables";

.play-header {
  display: flex;
  justify-content: center;
}

.options {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}


.groups-table {
  background-color: $purple;
  color: $white;
  border-collapse: collapse;
  overflow-y: scroll;
  border-radius: 30px 30px 0px 0px;
  margin: 20px;
}

.player {
  padding: 0.1em;
}

.player-list {
  list-style: none;
}
table tbody {
  display: block;
  overflow-y: scroll;
  max-height: 50vh;
}

table thead,
table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: $pink;
}

table td,
table thead,
table th {
  padding: 0.8em;
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: $purple-lighter;
}

.join {
  cursor: pointer;
}

.join:hover {
  color: $blue;
}
