<div class="wrapper">
  <div class="play-header">
    <app-title text="Jouer"></app-title>
  </div>
  <div class="options">
    <app-text-button
      class="create-group"
      (click)="createGroup()"
      [text]="'Créer une partie'"
    ></app-text-button>
  </div>

  <table class="groups-table">
    <thead>
      <th>Groupe</th>
      <th>Mode de jeu</th>
      <th>Difficulté</th>
      <th>Joueurs</th>
      <th>Rejoindre</th>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>{{ game.name }}</td>
        <td>{{ game.gameMode }}</td>
        <td>{{ game.difficulty }}</td>
        <td>
          <ul *ngFor="let player of game.players" class="player-list">
            <li>{{ player }}</li>
          </ul>
        </td>
        <td class="join" (click)="joinGame(game)">REJOINDRE</td>
      </tr>
    </tbody>
  </table>
</div>
