<div class="wrapper">
  <div class="header">
    <app-title text="Guess it!"></app-title>
  </div>

  <div class="body">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="form-title">
        <h2>Connexion</h2>
      </div>
      <div class="form-body">
        <div class="form-control">
          <p>Pseudo</p>
          <input class="input" type="text" formControlName="pseudo" required />
        </div>
        <div class="form-control">
          <p>Mot de passe</p>
          <input
            class="input"
            type="password"
            formControlName="password"
            required
          />
        </div>
      </div>
      <div class="form-actions">
        <button
          mat-raised-button
          type="submit"
          class="log-in"
          (click)="signIn(loginForm.value)"
        >
          Se connecter
        </button>
      </div>
    </form>
    <button mat-raised-button (click)="openDialog()" class="sign-in">
      S'inscrire
    </button>
  </div>
  <canvas class="canvas" #canvas></canvas>
</div>
