@import "variables";

.wrapper{
  overflow: hidden;
}

.wrapper .header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.wrapper .body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.wrapper .body .form {
  background-color: $blue;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  align-self: center;
}

.wrapper .body .form .form-title {
  display: flex;
  justify-content: center;
}

.wrapper .body .form .form-body {
  display: grid;
  margin-top: 30px;
  margin-bottom: 10px;
}

.wrapper .body .form .form-body .form-control {
  margin: 10px;
}

.wrapper .body .form .form-body .form-control input {
  font-family: $font;
  font-size: 2em;
  margin: 5px;
  padding: 0px;
  width: 100%;
  padding-left: 5px;
  border: none;
}

.wrapper .body .form .form-actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper .body .form .form-actions button {
  font-family: $font;
  color: white;
  align-self: center;
  width: 100% !important;
  margin: 10px 0px 10px 0px;
}

.log-in {
  background-color: $purple !important;
}

.sign-in {
  margin-top: 40px;
  background-color: $pink !important;
  align-self: center;
  width: 30vw !important;
  font-family: $font;
  color: white;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
