@import "variables"; //style

.buttons {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 1;
  width: fit-content;
  margin-bottom: 0px;
  margin-left: 10px !important;
}


.integrated-options{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}



.open-btn {
  background-color: $pink;
  margin: 10px;
}

.chat {
  position: fixed;
  align-self: flex-end;
  align-items: flex-end;
  bottom: 0px;
  right: 0;
  margin-left: auto;
  width: 800px;
  height: 300px;
  overflow-y: auto;
  border-radius: 4px;
  z-index: 10;
  background-color: $purple;
}
