<div class="buttons" [ngClass]="{ hidden: !userIsLoggedIn }">
  <button
    mat-icon-button
    matTooltip="Mode fenêtré"
    class="detatch-btn hidden"
    *ngIf="displayToggleChat() && !isOpened"
    (click)="detatch()"
  >
    <mat-icon>lock_open</mat-icon>
  </button>
  <button
    mat-icon-button
    [matTooltip]="isOpened ? 'Fermer le chat' : 'Ouvrir le chat'"
    class="open-btn"
    *ngIf="displayToggleChat()"
    (click)="toggleChat()"
  >
    <mat-icon svgIcon="chat"> </mat-icon>
  </button>
</div>

<div [ngClass]="{ chat: true, hidden: !(isIntegrated && isOpened) }">
  <div class="integrated-options">
    <button
      class="detatch-btn"
      mat-raised-button
      matTooltip="Mode fenêtré"
      (click)="detatch()"
    >
      <mat-icon>lock_open</mat-icon>
    </button>
    <h2>CLAVARDAGE</h2>
    <button
      mat-raised-button
      [matTooltip]="isOpened ? 'Fermer le chat' : 'Ouvrir le chat'"
      class="close-btn"
      *ngIf="displayToggleChat()"
      (click)="toggleChat()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <app-chat-body></app-chat-body>
</div>
