@import "variables";

.wrapper {
  padding: 1em 5em 1em 5em !important;
  margin: -24px !important;
  background-color: $blue;
  color: white !important;
}

.wrapper .title {
  display: flex;
  justify-content: center;
}

.wrapper .body .form .form-body {
  margin-top: 30px;
  margin-bottom: 30px;
}

.wrapper .body .form .form-body .form-control {
  margin: 20px 10px 20px 10px;
}

.wrapper .body .form .form-body .form-control input {
  font-family: $font;
  font-size: 2em;
  margin: 5px;
  padding: 0px;
  padding-left: 5px;
  border: none;
}

.wrapper .body .form .form-actions {
  display: flex;
  justify-content: space-around;
}

.wrapper .body .form .form-actions button {
  width: fit-content !important;
  color: white !important;
  font-family: $font;
}

.create {
  background-color: $purple !important;
}

.cancel {
  background-color: $pink !important;
}

.form-errors{
  border: 2px solid $purple;
  border-radius: 4px;
  padding: 5px;
}

.form-errors .form-error {
  color: white;
}
