<div class="wrapper">
  <div class="title">
    <h2>Créer un nouveau compte</h2>
  </div>
  <div class="body">
    <form class="form" [formGroup]="signUpForm">
      <div class="form-body">
        <div class="form-control">
          <p>Pseudo</p>
          <input class="input" type="text" formControlName="pseudo" />
          <p><small>* max 30 caractères</small></p>
        </div>
        <div class="form-control">
          <p>Mot de passe</p>
          <input class="input" type="password" formControlName="password" />
          <p><small>* max 128 caractères</small></p>
        </div>
        <div class="form-control">
          <p>Confirmation du mot de passe</p>
          <input
            class="input"
            type="password"
            formControlName="confirmPassword"
          />
        </div>
        <div *ngIf="errors.length" class="form-control">
          <div class="form-errors">
            <p class="form-error" *ngFor="let error of errors">
              <small>{{ error }}</small>
            </p>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button
          mat-raised-button
          (click)="onSubmit()"
          class="create"
          type="submit"
        >
          S'inscrire
        </button>

        <button
          class="cancel"
          mat-raised-button
          type="button"
          (click)="onCancel()"
        >
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
