<div *ngIf="channel" class="wrapper" (keydown.enter)="sendMessage()">
  <div class="channel-name">
    <h3>{{ channel.channelName }}</h3>
  </div>

  <div class="chat-box">
    <div class="chat-messages-show-container">
      <ul #chat class="chat-messages-show-list">
        <li
          class="message"
          *ngFor="let message of channel.messages; index as i"
          #message
          [ngClass]="message.fromCurrent ? 'right' : 'left'"
        >
          <div class="message-sender">
            {{ message.pseudo }}&#183;{{ message.date | date: 'HH:mm:ss' }}
          </div>
          <div class="message-content">
            {{ message.message }}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="chat-messages-create-container">
    <input
      class="chat-messages-create-input"
      type="text"
      [(ngModel)]="message"
    />
    <button class="send-btn" type="submit" (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
