@import "variables"; //style

.wrapper{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  position: relative;
  background-color: $dark-blue;
}

.channel-name{
  color: white;
  word-wrap: break-word;
  grid-row: 1/1;
  line-height: 1em;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  padding: 8px 0px 2px 5px;
}

.chat-messages-show-container {    
  display: flex;
  position: relative;
  flex-direction: column;
}

.chat-messages-show-list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;  
  overflow-y: auto;
  height: 140px;
}

.chat-box {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $dark-blue;
  color: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow-x: hidden;
  grid-row: 2/2;
  overflow: hidden;
}

.chat-messages-create-container {
  display: flex;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  grid-row: 3/3;
  align-items: center;
}


p {
  word-wrap: break-word;
}

.chat-messages-create-input {
  font-family: $font;
  font-size: 1em;
  height: 2em;
  margin: 5px;
  padding: 0px;
  width: 100%;
  padding-left: 5px;
  border: 2px solid $blue;
  background-color: $dark-blue;
  color: white;
}

.chat-messages-create-input:focus {
  outline: 2px solid $pink;
  border: none;
}

.message-content {
  font-size: 1em;
  font-family: $font;
}

.send-btn {
  color: white;
  border: none;
  width: 60px;
  margin: 10px;
  border-radius: 4px;
  padding: 4px;
  background: $pink;
}

.send-btn:hover {
  cursor: pointer;
}

.message {  
  font-family: $font;
  margin: 10px;
  display:block;
  position: relative; 
  clear: both;
  max-width: 50%;
  word-wrap: break-word;
  padding: 0;
  height: auto;
  margin: 4px 4px 0px 4px;
  padding-bottom: 4px;
}

.message-sender {
  display: block;
  color: white;
  font-size: 0.6em;
}

.message-content{
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 10px;
}

.right {  
  float: right;
  margin-left: 10%;
}

.right .message-content {
  background: $pink;
}

.right .message-sender{
  text-align: end;
}


.left {  
  float: left;
  margin-right: 10%;
}

.left .message-content{
  background: $blue;
}

.missed-message-notification{
  position: absolute;
  display: block;
  z-index: 1;
  color: $white;
  font-family: $font;
  background-color: $purple;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 30px 0px 30px;
  border-radius: 4px;
  width: 60%;
}
