@import "variables"; //style

.single-image-container {
  margin-left: 5%;
  padding-top: 7%;
}

.single-image-title {
  color: white;
  margin-bottom: 10px;
}

.single-image-display {
  border: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: $blue;
  max-width: 100%;
  object-fit: cover;
}
