<div class="wrapper">
  <div class="title">
    <app-title [text]="game.name!"></app-title>
  </div>
  <div class="game-info">
    <p class="category" *ngIf="game.gameMode === 'Classique'">Rondes: </p>
    <p *ngIf="game.gameMode === 'Classique'">{{ game.roundNum }}</p>
    <p class="category">Difficulté: </p>
    <p>{{ game.difficulty }}</p>
    <p class="category">Mode: </p>
    <p>{{ game.gameMode }}</p>
  </div>
</div>
