@import "variables";

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper .title {
  display: flex;
  justify-content: center;
}

.game-info {
  display: flex;
  justify-content: space-evenly;
  background-color: $purple-lighter;
  padding: 10px;
  border-radius: 4px;
  margin: 20px;
}

.game-info p {
  margin: 5px;
}

.wrapper .game-info .category {
  color: $blue;
}
