@import "variables"; //group-create

button:disabled {
  cursor: not-allowed;
}

.form-group {
    margin: 10px 0px 10px 0px;
}

.title {
    display: flex;
    justify-content: center;
    color: white;
}

.form-group input {
  width: 100%;
  height: 2em;
  margin-top: 10px;
  font-family: $font;
}

.form-group select {
  width: 100%;
  height: 2em;
  margin-top: 10px;
  font-family: $font;
}

.app-text-button:hover {
  filter: brightness(150%);
}

.mat-dialog-content {
  padding: 1em 5em 1em 5em !important;
  margin: -24px !important;
  background-color: $purple-lighter;
}

p {
  font-family: $font;
}

.form {
  width: 100%;
}

.smaller {
  font-size: 0.5em !important;
}

.row {
  justify-content: space-between !important;
}

.form-group {
  width: 100%;
} 

.form-group p{
  color: white;
}

button{
    width: fit-content !important;
    font-family: $font;
    background-color: $purple;
    color: white;
}
