<div mat-dialog-content class="mat-dialog-content">

  <div class="title">
    <h2>Créer une partie</h2>
  </div>
  <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <p>Nom du groupe</p>
      <input class="input" type="text" formControlName="name" />
    </div>
    <div class="form-group">
      <p>Mode de jeu</p>
      <select class="input" formControlName="gameMode">
        <option [value]="gameMode" *ngFor="let gameMode of gameModes">
          {{ gameMode }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <p>Difficulté</p>
      <select class="input" formControlName="difficulty">
        <option
          [value]="difficulty"
          *ngFor="let difficulty of gameDifficulties"
        >
          {{ difficulty }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="!(mode == sprintSolo)">
      <p>Nombre de tours (max 10)</p>
      <input
        class="input"
        type="number"
        formControlName="roundNum"
      />
    </div>

    <mat-dialog-actions class="row">
      <button mat-raised-button type="button" (click)="onCancel()">
        Annuler
      </button>

      <button
        mat-raised-button
        type="submit"
        (click)="createGame(gameForm.value)"
        [disabled]="!gameForm.valid"
      >
        Créer
      </button>
    </mat-dialog-actions>
  </form>
</div>
