<div class="wrapper">
  <div class="title">
    <h2>Chercher des amis</h2>
  </div>
  <div class='search'>
    <p>Chercher par pseudo</p>
    <input [(ngModel)]='search' (keyup)='filter()'>
  </div>
  <div class="body">
    <div *ngFor="let user of users">
      <div class="user" *ngIf='user.display'>
        <app-avatar class="avatar" [user]="user"></app-avatar>{{ user.pseudo }}
      </div>
    </div>
  </div>
</div>
