@import "variables";

.wrapper {
  padding: 1em 5em 1em 5em !important;
  margin: -24px !important;
  background-color: $purple;
  color: white;
  max-height: 50vh;
  overflow-y: scroll;
  padding-bottom: 30px;
}

.body{
  margin-bottom: 60px;
}

.wrapper .search {
  margin: 20px 0px 20px 0px;
}

.wrapper .search p{
  margin-bottom: 5px;
}

.wrapper .search input{
  height: 2em;
  width: 100%;
  font-family: 'PressStart2P';
}

.user {
  display: flex;
  justify-content: start;
  align-items: center;
}

.avatar{
  padding-right: 10px;
}