<div class="wrapper">
  <div class="header">
    <app-lobby-game-info [game]="game"></app-lobby-game-info>
  </div>
  <div class="body">
    <div class="score score-1">
      <h5>Points</h5>
      <h2 class="points">{{team1Score}}</h2>
    </div>
    <div class="time-left">
      <div class="number">
        <h1>
          {{ roundTimeLeft / 1000 }}
        </h1>
      </div>
      <div class="fill-bar-wrapper">
        <div class="full-bar">
          <div
            class="shrinking-bar"
            [style.width]="timeLeftInPercent + '%'"
          ></div>
        </div>
      </div>
    </div>
    <div class="score score-2" >
      <div *ngIf="game.gameMode == 'Classique'">
        <h5>Points</h5>
        <h2>{{team2Score}}</h2>
      </div>
      <div *ngIf="game.gameMode == 'Sprint solo'">
        <h5>Essais</h5 >
        <h2  class="points">{{triesLeft}}</h2>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="word" >
      <div *ngIf="isArtist; then stream else watch"></div>
        <ng-template #stream>
          <h1>Dessinez: {{round.wordToGuess}}</h1>
        </ng-template>
        <ng-template #watch>
          <div *ngIf="isGuesser">
            <h1>À vous de deviner!</h1>
          </div>
          <div *ngIf="!isArtist && !isGuesser">
            <h1>C'est à l'autre équipe!</h1>
          </div>
        </ng-template>
    </div>
  </div>
</div>
