@import "variables"; //style

.wrapper .header {
  display: flex;
  justify-content: center;
}

.wrapper .header p {
  padding: 10px 40px 10px 40px;
}

.wrapper .body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.wrapper .body .score {
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
}

.wrapper .body .score-1 {
  color: $pink;
}

.wrapper .body .score-2 {
  color: $blue;
}

.wrapper .body .score-1 .points {
  display: inline;
  text-align: center;
}

.wrapper .body .score-2 .points {
  display: inline;
  text-align: center;
}

.wrapper .body .time-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.wrapper .body .time-left .number {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.wrapper .body .time-left .fill-bar-wrapper {
  padding-top: 10px;
  position: relative;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
}

.wrapper .body .time-left .fill-bar-wrapper .full-bar {
  height: 100%;
  position: absolute;
  background-color: $blue;
  width: 100%;
  border-radius: 5px;
}

.wrapper .body .time-left .fill-bar-wrapper .shrinking-bar {
  position: absolute;
  height: 100%;
  background-color: $pink;
  border-radius: 4px;
  transition: all 0.1s linear;
}

.wrapper .footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
