<div class="wrapper">
  <div class="header">
    <app-title class="title" text="Guess it!"></app-title>
  </div>

  <div class="body">
    <app-text-button (click)="tutorial()" text="Tutoriel"></app-text-button>
    <app-text-button (click)="play()" text="Jouer"></app-text-button>
    <app-text-button (click)="ranking()" text="Classement"></app-text-button>
    <app-text-button (click)="profile()" text="Profil"></app-text-button>

    <app-text-button
      (click)="pairWordDrawing()"
      text="Paires mot-image"
    ></app-text-button>
  </div>
  <canvas class="canvas" #canvas></canvas>
</div>
