@import 'variables'; // main-menu

.wrapper .header {
  display: flex;
  justify-content: center;
}

.wrapper .body{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .body app-text-button{
  align-self: center;
  margin: 10px;
}


.canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}



.button:hover{
  filter: brightness(90%);
}
