// .particles {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   width: 100%;
//   height: 100%;
// }
// .wrapper {
//   padding-top: 20px;
// }

// .wrapper .title {
//   display: flex;
//   justify-content: center;
// }

// .wrapper .body {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
// }

// .wrapper .body .editor {
//   display: flex;
//   justify-content: center;
//   padding-top: 20px;
//   position: absolute;
//   left: 50%;
//   transform: translate(-50%);
// }
