<table *ngIf="connections">
  <tr>
    <th>Date</th>
    <th>Type</th>
  </tr>
  <tr class="connection" *ngFor="let connection of connections">
    <td>{{ connection.date | date: "HH:mm:ss d/LL/YY" }}</td>
    <td>{{ connection.type }}</td>
  </tr>
</table>
