<div class="header" *ngIf="displayHeader">
  <div class="left">
   
  </div>

  <div class="middle">
    <mat-icon
    (click)="tutorial()"
    matTooltip="Tutoriel"
    class="icon"
    svgIcon="question"
    ></mat-icon>

    <mat-icon (click)="play()" class="icon" matTooltip="Jouer" svgIcon="play">
    </mat-icon>

    <mat-icon
      (click)="home()"
      class="icon"
      matTooltip="Menu principal"
      svgIcon="menu"
    ></mat-icon>
    <mat-icon
      matTooltip="Paires mot-image"
      class="icon"
      (click)="pairWordDrawing()"
      svgIcon="image"
    ></mat-icon>

    <mat-icon
      (click)="ranking()"
      class="icon"
      matTooltip="Classement"
      svgIcon="trophy"
    >
    </mat-icon>
  </div>

  <div class="right">
    <div *ngIf="isUserSignedIn(); else showLogin">
      <mat-icon
        (click)="profile()"
        matTooltip="Profil"
        class="icon"
        svgIcon="user"
      ></mat-icon>
      <mat-icon
        (click)="signOut()"
        class="icon"
        matTooltip="Déconnection"
        svgIcon="delete"
      ></mat-icon>
    </div>

    <ng-template class="icon" #showLogin>
      <mat-icon
        (click)="authentication()"
        class="icon"
        matTooltip="Se connecter"
        svgIcon="login"
      >
      </mat-icon>
    </ng-template>
  </div>
</div>
