@import "variables";

.header {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: none;
  padding: 15px;
  height: fit-content !important;
}

.left {
  display: flex;
  align-items: center;
  justify-content: start;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  margin-right: 10px;
  margin-left: 10px;
  width: 2.5em;
  height: 2.5em;
  fill: white;
}

.icon:hover {
  cursor: pointer;
}

